# konark chart values to be updated
konark:
  envVars:
    VITE_API_HOST: {{ SCHEME }}://{{ BACKEND_DOMAIN }}
    VITE_GRAPHQL_URL: {{ SCHEME }}://{{ BACKEND_DOMAIN }}/graphql/query
    VITE_NGINX_SERVER_NAME: {{ UI_DOMAIN }}

  ingress:
    enabled: true
    className: alb
    annotations:
      alb.ingress.kubernetes.io/load-balancer-name: {{ LB_NAME }}
      alb.ingress.kubernetes.io/ip-address-type: ipv4
      alb.ingress.kubernetes.io/group.name: nected-lb
      alb.ingress.kubernetes.io/ssl-redirect: '443'
      alb.ingress.kubernetes.io/healthcheck-path: /
      alb.ingress.kubernetes.io/scheme: internet-facing
      alb.ingress.kubernetes.io/target-type: ip
      alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
      alb.ingress.kubernetes.io/certificate-arn: {{ CERTIFICATE_ARN }}
      alb.ingress.kubernetes.io/subnets: {{ SUBNET_IDS }}
      alb.ingress.kubernetes.io/security-groups: {{ LB_SG }}
    hosts:
      - host: {{ UI_DOMAIN }}
        paths:
            - path: /
              pathType: Prefix

# nalanda chart values to be updated
nalanda:
  replicaCount: 2
  envVars:
    ALLOWED_CORS_ORIGIN: {{ SCHEME }}://{{ BACKEND_DOMAIN }},{{ SCHEME }}://{{ UI_DOMAIN }}
    ALLOWED_HOSTS: {{ BACKEND_DOMAIN }}
    BACKEND_URL: {{ SCHEME }}://{{ BACKEND_DOMAIN }}

    # if external use external host address
    MASTER_DB_NAME: {{ NECTED_DB_NAME }}
    MASTER_DB_USER: {{ DB_USER }}
    MASTER_DB_PASSWORD: "{{ DB_PASSWORD }}"
    MASTER_DB_HOST: {{ DB_HOST }}
    MASTER_SSL_MODE: require

    # if external use external host address
    # Redis Config
    REDIS_TLS_ENABLED: "true"
    REDIS_INSECURE_TLS: "false"
    REDIS_HOST: {{ REDIS_HOST }}
    REDIS_PASSWORD: "{{ REDIS_PASSWORD }}"

    VIDHAAN_REDIS_TLS_ENABLED: "true"
    VIDHAAN_REDIS_INSECURE_TLS: "false"
    VIDHAAN_REDIS_HOST: {{ REDIS_HOST }}
    VIDHAAN_REDIS_PASSWORD: "{{ REDIS_PASSWORD }}"

    # enable elastic if installed using datastore or used external
    ELASTIC_PROVIDER: opensearch
    ELASTIC_ENABLED: "true"
    ELASTIC_HOSTS: https://{{ ELASTIC_HOST }}:443
    ELASTIC_INSECURE_TLS: "false"
    ELASTIC_USER: {{ ELASTIC_USER }}
    ELASTIC_PASSWORD: "{{ ELASTIC_PASSWORD }}"

    # konark
    ASSETS_BASE_URL: {{ SCHEME }}://{{ UI_DOMAIN }}/assets/konark
    KONARK_BASE_URL: {{ SCHEME }}://{{ UI_DOMAIN }}

    # default user created on setup
    NECTED_USER_EMAIL: {{ NECTED_USERNAME }}
    NECTED_USER_PASSWORD: {{ NECTED_PASSWORD }}

    # default vidhaan settings
    DEFAULT_VIDHAAN_SCHEME: {{ SCHEME }}
    DEFAULT_VIDHAAN_DOMAIN: {{ ROUTER_DOMAIN }}
 
  ingress:
    enabled: true
    className: alb
    annotations:
      alb.ingress.kubernetes.io/load-balancer-name: {{ LB_NAME }}
      alb.ingress.kubernetes.io/ip-address-type: ipv4
      alb.ingress.kubernetes.io/group.name: nected-lb
      alb.ingress.kubernetes.io/ssl-redirect: '443'
      alb.ingress.kubernetes.io/healthcheck-path: /
      alb.ingress.kubernetes.io/scheme: internet-facing
      alb.ingress.kubernetes.io/target-type: ip
      alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
      alb.ingress.kubernetes.io/certificate-arn: {{ CERTIFICATE_ARN }}
      alb.ingress.kubernetes.io/subnets: {{ SUBNET_IDS }}
      alb.ingress.kubernetes.io/security-groups: {{ LB_SG }}
    hosts:
      - host: {{ BACKEND_DOMAIN }}
        paths:
            - path: /
              pathType: Prefix

# vidhaan-executer chart to be updated
vidhaan-executer:
  replicaCount: 3
  envVars: &vidhaanEnvVars
    # Database
    DB_NAME: {{ NECTED_DB_NAME }}
    DB_USER: {{ DB_USER }}
    DB_PASSWORD: "{{ DB_PASSWORD }}"
    DB_HOST: {{ DB_HOST }}
    SSL_MODE: require

    # Redis Config
    REDIS_TLS_ENABLED: "true"
    REDIS_INSECURE_TLS: "false"
    REDIS_HOST: {{ REDIS_HOST }}:6379
    REDIS_PASSWORD: "{{ REDIS_PASSWORD }}"

    # Elastic Config
    ELASTIC_PROVIDER: opensearch
    ELASTIC_ENABLED: "true"
    ELASTIC_INSECURE_TLS: "false"
    ELASTIC_ADDRESSES: https://{{ ELASTIC_HOST }}:443
    ELASTIC_USERNAME: {{ ELASTIC_USER }}
    ELASTIC_PASSWORD: "{{ ELASTIC_PASSWORD }}"

    # Audit log
    AUDIT_LOG_ENABLED: "true"

    # subdomains
    SKIP_SUBDOMAINS: {{ ROUTER_DOMAIN }}

# vidhaan-router chart to be updated
vidhaan-router:
  replicaCount: 2
  envVars: *vidhaanEnvVars

  ingress:
    enabled: true
    className: alb
    annotations:
      alb.ingress.kubernetes.io/load-balancer-name: {{ LB_NAME }}
      alb.ingress.kubernetes.io/ip-address-type: ipv4
      alb.ingress.kubernetes.io/group.name: nected-lb
      alb.ingress.kubernetes.io/ssl-redirect: '443'
      alb.ingress.kubernetes.io/healthcheck-path: /
      alb.ingress.kubernetes.io/scheme: internet-facing
      alb.ingress.kubernetes.io/target-type: ip
      alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
      alb.ingress.kubernetes.io/certificate-arn: {{ CERTIFICATE_ARN }}
      alb.ingress.kubernetes.io/subnets: {{ SUBNET_IDS }}
      alb.ingress.kubernetes.io/security-groups: {{ LB_SG }}
    hosts:
      - host: {{ ROUTER_DOMAIN }}
        paths:
            - path: /
              pathType: Prefix

# medha chart to be updated
medha:
  envVars:
    DB_ENABLED: "true"
    DB_HOST: {{ DB_HOST }}
    DB_DB: {{ NECTED_DB_NAME }}
    DB_USER: {{ DB_USER }}
    DB_PASSWORD: "{{ DB_PASSWORD }}"
    DB_SSL_MODE: require
    COPILOT_PDF_OCR: "true"
