apiVersion: v2
name: nected
description: A Nected Services Helm chart

home: https://nected.ai/

keywords:
  - nected
  - workflow
  - BRE
  - DMS

maintainers:
  - name: Socioverse Tech Private Ltd.
    url: https://nected.ai/

sources:
  - https://charts.nected.io

dependencies:
  - name: konark
    repository: https://charts.nected.io/
    version: 0.4.7
    condition: konark.enabled
  - name: nalanda
    repository: https://charts.nected.io/
    version: 0.3.29
    condition: nalanda.enabled
  - name: medha
    repository: https://charts.nected.io/
    version: 0.2.2
    condition: medha.enabled
  - name: vidhaan-router
    repository: https://charts.nected.io/
    version: 0.3.32
    condition: vidhaan-router.enabled
  - name: vidhaan-executer
    repository: https://charts.nected.io/
    version: 0.3.32
    condition: vidhaan-executer.enabled
  - name: garuda
    repository: https://charts.nected.io/
    version: 0.3.6
    condition: garuda.enabled
  - name: common
    repository: https://charts.nected.io/
    tags:
    - nected-common
    version: 0.x.x

type: application
version: 0.4.13
appVersion: "0.30.6"
