existingSecretMap: &commonSecretMap
    - name: ENCRYPTKEY_EAR_1
      valueFrom:
        secretKeyRef:
          name: encryption-at-rest-secret
          key: encryption-at-rest

# konark chart values to be updated
konark:
  enabled: true
  replicaCount: 1
  image:
    tag: "op0.13.4-2"
  envVars:
    # API Configuration
    VITE_API_HOST: http://nalanda.local
    VITE_GRAPHQL_URL: http://nalanda.local/graphql/query
    VITE_NGINX_SERVER_NAME: konark.local

  ingress:
    enabled: false
    className:
    annotations: {}
    hosts: []
    tls: []

  resources:
    requests:
      cpu: "250m"
      memory: "512Mi"

# nalanda chart values to be updated
nalanda:
  enabled: true
  replicaCount: 1
  image:
    tag: &nalandaTag "op0.3.26"
  existingSecretMap: *commonSecretMap
  envVars:
    # server config
    ALLOWED_CORS_ORIGIN: http://nalanda.local,http://konark.local
    ALLOWED_HOSTS: nalanda.local
    BACKEND_URL: https://nalanda.local

    # Security
    AES_SECRET: tfgoS4EzPPuBJjBLFgmlut9ukW9o2PYy

    # Postgresql Config
    MASTER_DB_NAME: nected
    MASTER_DB_USER: nected
    MASTER_DB_PASSWORD: psqlPass123
    MASTER_DB_HOST: datastore-postgresql
    MASTER_DB_PORT: "5432"
    MASTER_DB_LOG_MODE: "false"
    MASTER_SSL_MODE: disable
    MASTER_DB_CONNS_POOL_ENABLE: "true"
    MASTER_DB_MAX_IDLE_CONNS: "5"
    MASTER_DB_MAX_OPEN_CONNS: "10"
    MASTER_DB_CONN_MAX_LIFETIME: 1h
    MASTER_DB_CONN_MAX_IDLE_TIME: 30m

    # Redis Config
    REDIS_TLS_ENABLED: "false"
    REDIS_INSECURE_TLS: "true"
    REDIS_HOST: datastore-redis-master
    REDIS_PORT: "6379"
    REDIS_DATABASE: "0"
    REDIS_USERNAME: ""
    REDIS_PASSWORD: ""

    VIDHAAN_REDIS_TLS_ENABLED: "false"
    VIDHAAN_REDIS_INSECURE_TLS: "true"
    VIDHAAN_REDIS_HOST: datastore-redis-master
    VIDHAAN_REDIS_PORT: "6379"
    VIDHAAN_REDIS_DATABASE: "1"
    VIDHAAN_REDIS_USERNAME: ""
    VIDHAAN_REDIS_PASSWORD: ""

    # Elastic Config
    ELASTIC_PROVIDER: managed
    ELASTIC_ENABLED: "true"
    ELASTIC_HOSTS: http://elasticsearch-master:9200
    ELASTIC_API_KEY: ""
    ELASTIC_INSECURE_TLS: "true"
    ELASTIC_USER: elastic
    ELASTIC_PASSWORD: esPass123

    # google auth
    GOOGLE_AUTH_ENABLED: "false"
    GOOGLE_CLIENT_ID: ""

    # mslogin
    MICROSOFT_AUTH_ENABLED: "false"
    MICROSOFT_CLIENT_ID: ""
    MICROSOFT_CLIENT_SECRET: ""
    MICROSOFT_TENANT_ID: ""

    # aws ses credentials if EMAIL_PROVIDE: ses
    AWS_ACCESS_KEY: ""
    AWS_SECRET_KEY: ""
    AWS_REGION: ""

    # email
    SEND_EMAIL: "false"
    EMAIL_PROVIDER: smtp
    SENDER_EMAIL: ""
    SENDER_NAME: ""
    EMAIL_INSECURE_TLS: ""
    EMAIL_HOST: ""
    EMAIL_PORT: ""
    EMAIL_USERNAME: ""
    EMAIL_PASSWORD: ""
    DEVOPS_EMAIL: ""

    # JWT
    JWT_ACCESS_TOKEN_EXP_TIME: "10800"
    JWT_REFRESH_TOKEN_EXP_TIME: "1296000"
    JWT_SECRET: lsdnfYTYknn5432HGHY7w

    # konark
    ASSETS_BASE_URL: http://konark.local/assets/konark
    KONARK_BASE_URL: http://konark.local

    # durations
    RESET_PASSWORD_EXP_TIME: "259200"
    EMAIL_VERIFICATION_EXP_DURATION: "1296000"
    WORKSPACE_INVITE_LINK_EXP_DURATION: "1296000"
    SIGNED_TOKEN_EXP_DURATION: "300"
    RESET_PASSWORD_MAX_LIMIT: "3"
    PASSWORD_AUTH_ENABLED: "true"
    SIGNED_TOKEN_LOGIN_OFFLINE_MODE: "false"

    # features flags
    SIGNUP_DOMAINS: ""

    # proxy url
    PROXY_SQL_LINT_URL: http://nected-medha/api/v1/editor/lint
    AI_SUGGESTION: http://nected-medha/api/v1/editor/suggest

    # nected user config
    NECTED_USER_EMAIL: dev@nected.ai
    NECTED_USER_PASSWORD: Password123

    # Vidhaan Config
    DEFAULT_VIDHAAN_SCHEME: http
    DEFAULT_VIDHAAN_DOMAIN: vidhaan.local
    DEFAULT_VIDHAAN_WHITELISTED_IPS: ""
 
  ingress:
    enabled: false
    className:
    annotations: {}
    hosts: []
    tls: []

  autoSetup:
    image:
      tag: *nalandaTag

  resources:
    requests:
      cpu: "250m"
      memory: "512Mi"

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 1
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80

# vidhaan-executer chart to be updated
vidhaan-executer:
  enabled: true
  replicaCount: 1
  image:
    tag: &vidhaanTag "op0.3.30"
  existingSecretMap: *commonSecretMap
  envVars:
    # Database
    DB_NAME: nected
    DB_USER: nected
    DB_PASSWORD: psqlPass123
    DB_HOST: datastore-postgresql
    DB_PORT: "5432"
    DB_LOG_MODE: "false"
    SSL_MODE: disable
    DB_CONNS_POOL_ENABLE: "true"
    DB_MAX_IDLE_CONNS: "2"
    DB_MAX_OPEN_CONNS: "10"
    DB_CONN_MAX_LIFE_TIME: 1h
    DB_CONN_MAX_IDLE_TIME: 1h

    # Redis Config
    REDIS_TLS_ENABLED: "false"
    REDIS_INSECURE_TLS: "true"
    REDIS_HOST: datastore-redis-master:6379
    REDIS_DATABASE: "1"
    REDIS_USERNAME: ""
    REDIS_PASSWORD: ""

    # Elastic Config
    ELASTIC_PROVIDER: managed
    ELASTIC_ENABLED: "true"
    ELASTIC_INSECURE_TLS: "true"
    ELASTIC_ADDRESSES: http://elasticsearch-master:9200
    ELASTIC_API_KEY: ""
    ELASTIC_USERNAME: elastic
    ELASTIC_PASSWORD: esPass123

    # Audit log
    AUDIT_LOG_ENABLED: "true"

    # subdomains
    SKIP_SUBDOMAINS: "vidhaan.local"

  resources:
    requests:
      cpu: "500m"
      memory: "512Mi"

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 1
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80

# vidhaan-router chart to be updated
vidhaan-router:
  enabled: true
  replicaCount: 1
  image:
    tag: *vidhaanTag
  existingSecretMap: *commonSecretMap
  envVars:
    # Database
    DB_NAME: nected
    DB_USER: nected
    DB_PASSWORD: psqlPass123
    DB_HOST: datastore-postgresql
    DB_PORT: "5432"
    DB_LOG_MODE: "false"
    SSL_MODE: disable
    DB_CONNS_POOL_ENABLE: "true"
    DB_MAX_IDLE_CONNS: "2"
    DB_MAX_OPEN_CONNS: "10"
    DB_CONN_MAX_LIFE_TIME: 1h
    DB_CONN_MAX_IDLE_TIME: 1h

    # Redis Config
    REDIS_TLS_ENABLED: "false"
    REDIS_INSECURE_TLS: "true"
    REDIS_HOST: datastore-redis-master:6379
    REDIS_DATABASE: "1"
    REDIS_USERNAME: ""
    REDIS_PASSWORD: ""

    # Elastic Config
    ELASTIC_PROVIDER: managed
    ELASTIC_ENABLED: "true"
    ELASTIC_INSECURE_TLS: "true"
    ELASTIC_ADDRESSES: http://elasticsearch-master:9200
    ELASTIC_API_KEY: ""
    ELASTIC_USERNAME: elastic
    ELASTIC_PASSWORD: esPass123

    # Audit log
    AUDIT_LOG_ENABLED: "true"

    # subdomains
    SKIP_SUBDOMAINS: "vidhaan.local"

  ingress:
    enabled: false
    className:
    annotations: {}
    hosts: []
    tls: []

  resources:
    requests:
      cpu: "250m"
      memory: "512Mi"

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 1
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80

# sql-linter chart to be updated
medha:
  enabled: true
  replicaCount: 1
  image:
    tag: "op0.2.2"
  envVars:
    DB_ENABLED: "false"
    COPILOT_PDF_OCR: "false"
    SENTRY_DSN: ""
    EDITOR_OPENAI_API_KEY: ""
    EDITOR_OPENAI_MODEL: ""

  resources:
    requests:
      cpu: "600m"
      memory: "1024Mi"

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 1
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80

# executer-tp chart to be updated
garuda:
  enabled: false
  replicaCount: 1
  image:
    tag: "op0.3.2"
  envVars:
    REDIS_ENABLED: "true"
    REDIS_TLS_ENABLED: "false"
    REDIS_HOST: datastore-redis-master
    REDIS_PORT: "6379"
    REDIS_USERNAME: ""
    REDIS_PASSWORD: ""
    REDIS_DB: "1"

  resources:
    requests:
      cpu: "400m"
      memory: "1024Mi"

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 1
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80

# adding service account for secret job
serviceAccount:
  create: true
  automount: true
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-2"
  name: common-secret

# main nected job to setup secret
autoSetup:
  debug: false
  enabled: true
  image:
    repository: public.ecr.aws/f6k1n6r3/openssl-kubectl
    pullPolicy: IfNotPresent
    tag: latest
  command:
  - /bin/sh
  - -c
  - |
    SECRET_NAME="encryption-at-rest-secret"
    KEY_FILE="/tmp/encryption-at-rest"

    echo "Checking if secret '$SECRET_NAME' exists..."

    if kubectl get secret "$SECRET_NAME" &> /dev/null; then
        echo "Secret '$SECRET_NAME' already exists. Skipping creation."
    else
        echo "Secret '$SECRET_NAME' does not exist. Creating..."

        echo "Generating RSA key..."
        openssl genrsa -f4 -out "$KEY_FILE" 4096

        if [ $? -eq 0 ]; then
            echo "Creating secret..."
            kubectl create secret generic "$SECRET_NAME" \
              --from-file="$KEY_FILE"

            if [ $? -eq 0 ]; then
                echo "Key generated & secret created successfully."
                # Clean up the temporary key file for security
                rm -f "$KEY_FILE"
            else
                echo "Error: Failed to create secret."
                exit 1
            fi
        else
            echo "Error: Failed to generate RSA key."
            exit 1
        fi
    fi
  annotations: {}